<section>
  <div class="page-header">
    <h1>Leads</h1>
    <button class="btn btn-primary" ui-sref="leads.create()">สร้างรายการใหม่</button>
  </div>
  <div class="list-group">
    <a ng-repeat="lead in vm.leads" ui-sref="leads.view({ leadId: lead._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="lead.created | date:'mediumDate'"></span>
        by
        <span ng-if="lead.user" ng-bind="lead.user.displayName"></span>
        <span ng-if="!lead.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="lead.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.leads.$resolved && !vm.leads.length">
    No Leads yet, why don't you <a ui-sref="leads.create">create one</a>?
  </div>
</section>